<body>
  <main>
    <h1> welcome to simposium! <h2>
     <body> would u like to see <a href="women">women</a> or <a href="men">men</a> </h2>
    <div>
      <h3>{{women['her name']}}</h3>
      <p>{{WOMANIZER_YO[women['woman_kind']].capitalize()}}</p>
      <p> {{women['description']}}</p>
      <p><a href = "{{ url_for('show_women', woman_id=woman['id'])}"please choose</a></p>
    </div>
    <hr />
      {% endfor %}
      <a href = "{{url_for('create_woman')}}"> submit favourite woman</a>
      <a href="{{url_for('create_user')}}">create a new use account</a>
    
    



        
      </h3>
     </body>
  </main>
</body>